@import "./variables.scss";
body {
  background: rgb(34, 34, 34);
  background: linear-gradient(
    240deg,
    rgba(34, 34, 34, 1) 50%,
    rgba(27, 27, 27, 1) 50%
  );
}

.main {
  height: 100vh;
  padding-top: 120px;
}
