@import "./variables.scss";

.intro {
  position: relative;
  background-image: url("./../../public/images/raghuveer-b-w.png");
  background-repeat: no-repeat;
  background-position: left bottom -60px;
  background-size: 550px;
  background-attachment: fixed;
  &__image {
    flex: 0 0 50%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    max-width: 60%;
    overflow: auto;
    text-align: right;
    padding-top: 30px;
    &__card {
      margin-bottom: 20px;
      padding: 20px 30px;
      background: $secondary;
      h1 {
        font-weight: 300;
        font-size: 40px;
      }
      h2 {
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $highlight;
      }
    }
    &__main {
      padding: 20px 30px;
      h3 {
        font-size: 35px;
        margin-bottom: 10px;
        font-weight: 400;
      }
      p {
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 15px;
      }
    }
  }
}
