// colors
$primary-color: #073b4c;
$secondary-color: #ef476f;
$tertiary-color: #118ab2;
$other-color-1: #ffd166;
$other-color-2: #06d6a0;
$white: #fff;
$black: #000;
$bg: #f5f8fd;
$bg-2: #fff5f7;
$font-color: #272829;

// fonts
$primary-font: "Raleway", sans-serif;
$secondary-font: "Merriweather", serif;
